<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

</head>
<body>
<div
  style="display:flex; justify-content:center; align-items:center; height:100vh;"
>
  <form method="post">
    <label for="mail">Enter email</label>
    <input type="email" name="mail" id="mail" placeholder="ppppppp@gmail.com">
    <label>Enter password</label>
      <input type="text" name="password" id="password"><br>
      <input type="submit" class="btn btn-success" value="Login">
  </form>

</div>

</body>
</html>