<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sender</title>
</head>
<body>
<div style="display:flex; justify-content:center; align-items:center; height:100vh;">
<form method="post">
  <label for="who">Enter first name and last name</label>
  <input type="text" name="who" id="who" placeholder="Vasya Pupkin" class="form-control"><br>
      <label for="ticket_id">Enter ticket_id</label>
  <input type="number" name="ticket_id" id="ticket_id" placeholder="1234" class="form-control"><br>

    <label for="mail">Enter getter email</label>
    <input type="email" name="mail" id="mail" placeholder="ppppppp@gmail.com"><br>

    <input type="submit" value="create" name="button" style="background-color: green">
    <input type="submit" value="edit" name="button" style="background-color: blue">
    <input type="submit" value="del" name="button" style="background-color: red">

</form>
</div>
</body>
</html>